$logo: #333333;

.logo-smile-wrapper {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;

  .logo-face {
    width: 200px;
    height: 200px;
    background: white;
    box-sizing: border-box;
    border: 12px solid $logo;
    border-radius: 15%;
  }

  .logo-glass {
    position: relative;
    top: 35%;
    width: 100%;

    .logo-line {
      height: 12px;
      width: 100%;
      background: $logo;
    }

    .logo-dot {
      width: 60px;
      height: 60px;
      background: $logo;
      border-radius: 50%;
      position: absolute;
    }

    .logo-dot-1 {
      top: -20px;
      left: 20px;
    }

    .logo-dot-2 {
      top: -20px;
      right: 20px;
    }
  }

  .logo-mouth {
    position: relative;
    top: 60%;
    width: 100%;

    .logo-line {
      height: 12px;
      width: 80px;
      background: $logo;
    }

    .logo-line-1 {
      position: absolute;
      transform: rotate(90deg);
      width: 30px;
      right: 75px;
    }

    .logo-line-2 {
      position: absolute;
      width: 20px;
      right: 76px;
      top: 20px;
    }
  }
}
