.container {
  display: flex;
  box-sizing: border-box;
  border: 14px solid #81D8D0;
  height: 100vh;

  .sidebar {
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-right: 1px solid #ddd;

    .logo-container {
      width: 100%;
      box-sizing: border-box;
    }

    .title {
      font-family: source-code-pro,Menlo,Monaco,Consolas,Courier New,monospace;
      font-size: 30px;
      text-align: center;
      padding: 10px 0;
    }

    .content {
      font-family: source-code-pro,Menlo,Monaco,Consolas,Courier New,monospace;
      font-size: 16px;
      text-align: center;
      padding: 10px 0
    }
  }

  .draw {
    width: 100%;
    overflow-y: scroll;
  }
}
